@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

#container-id button {
  transition: 400ms;
}
#container-id button:hover {
  transform: scale(1.2);
}
.outer-div {
  display: flex;
}
.card-edit-btn {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  float: right;
  background: url("../images/Group48095786.png") no-repeat center;
  background-size: cover;
  border: none;
}
.item-delete-btn {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin-right: -10px;
  margin-top: -10px;
  float: right;
  background: url("../images/Group48095763.png") no-repeat center;
  background-size: cover;
  border: none;
}
.tag-edit-btn {
  height: 40px;
  width: 40px;
  margin-top: 3px;
  margin-right: 1%;
  float: right;
  border: 2px solid white;
  border-radius: 10px;
  background: url("../images/Group48095786.png") no-repeat center;
  background-size: cover;
}
.add-app-btn {
  height: 40px;
  width: 40px;
  margin-top: 3px;
  margin-right: 1%;
  float: right;
  border: 2px solid white;
  border-radius: 10px;
  background: url("../images/Group48095803.png") no-repeat center;
  background-size: cover;
}
.script-edit-btn {
  height: 40px;
  width: 40px;
  margin-top: 3px;
  margin-right: 1%;
  float: right;
  border: 2px solid white;
  border-radius: 10px;
  background: url("../images/Group48095786.png") no-repeat center;
  background-size: cover;
}
.table-view-btn {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin: 2%;
  border: none;
  background: url("../images/Group48095787.png") no-repeat center;
  background-size: cover;
}
.table-edit-btn {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin: 2%;
  border: none;
  background: url("../images/Group48095786.png") no-repeat center;
  background-size: cover;
}
.table-delete-btn {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin: 2%;
  border: none;
  background: url("../images/Group48095772.png") no-repeat center;
  background-size: cover;
}
.right-div {
  width: 65%;
  margin-left: 8%;
  border-radius: 20px;
  display: flex;
}
.title-div {
  font-family: 'Abril Fatface', sans-serif;
  color: white;
  background-color: #6B649C;
  padding-top: 6px;
  padding-bottom: 3px;
  padding-left: 10px;
  border-radius: 5px;
  margin-top: 3px;
  margin-bottom: 15px;
}
.stat-card {
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 400ms;
  border: none;
  box-shadow: 1px 1px 10px #dbdbdb;
}
.stat-card:hover {
  transform: scale(1.1);
}
.stat-card-title {
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 600;
  background-color: #6B649C;
  color: white;
  width: 100%;
  text-align: center;
}
.edit-btn-2 {
  height: 35px;
  width: 35px;
  background: url("../images/Group48095786.png") no-repeat center;
  background-size: cover;
  border: none;
  float: right;
}
.package-info {
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #dbdbdb;
}
.package-info td {
  padding-bottom: 10px;
  padding-left: 10px;
}
.app-list-card {
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #dbdbdb;
}
.item-text {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #464646;
  font-size: 15px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.edit-btn {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 3px;
  margin-left: 30px;
  margin-top: 10px;
  background: url("../images/Group48095770.png") no-repeat center;
  background-size: cover;
}
.delete-btn {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 3px;
  margin-left: 30px;
  margin-top: 10px;
  background: url("../images/Group48095771.png") no-repeat center;
  background-size: cover;
}


